body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center; 
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

section#capstone-project {
    padding: 1rem;
    margin: 1rem auto;
    background: #fff;
    max-width: 80%; 
}

.video-container {
    margin-top: 20px;
    text-align: center; 
}

video {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

footer a {
    color: #0d6efd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

a {
    color: blue;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

img{
    width: 900px;
}

ul {
    padding-left: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: max-content; 
    list-style-position: outside; 
}

li {
    text-align: left; 
}

.large-link {
    font-size: 24px; 
    font-weight: bold;
}

.ptag{
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    text-justify: inter-word;
    padding: 0 20px; 
}

img {
    max-width: 100%;
    height: auto;
}

/* Media Queries for Different Screen Sizes */
@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }

    .large-link {
        font-size: 20px;
    }

    section#capstone-project {
        padding: 0.5rem;
        max-width: 95%;
    }

    .ptag {
        padding: 0 10px;
    }

    ul {
        width: auto; /* Adjusts the width of unordered lists for smaller screens */
    }

    img {
        width: auto; /* Adjusts image width to be responsive */
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }

    .large-link {
        font-size: 18px; /* Further reduced font size for very small screens */
    }

    .video-container video {
        width: 100%; /* Ensure videos are fully responsive */
    }
}